TestProjectServer/src/main/resources/WADL/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">
	
    <grammars>
        <include href="eHealth_Schema.xsd">
            <doc title="Resource Schema for eHealth System" xml:lang="en">
                XML Schema describing relevant resources.
            </doc>
        </include>
    </grammars>
	
    <resources base="http://localhost:9090/taskExecutor/resources/">
        <resource path="devices" id="org.homelinux.digsim.ehealth.devices.DevicesResource"> 
            <method id="getDevices" name="GET">
                <response>
                    <representation mediaType="application/xml" element="devices"/>
                    <representation mediaType="application/json" element="devices"/>
                    <representation mediaType="text/xml" element="devices"/>
                </response>
            </method>
        </resource>
        <resource path="devices/{id}" id="org.homelinux.digsim.ehealth.devices.DeviceResource">
            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
            <method id="getDevice" name="GET">
                <response>
                    <representation mediaType="application/xml" element="device"/>
                    <representation mediaType="application/json" element="device"/>
                    <representation mediaType="text/xml" element="device"/>
                </response>
            </method>
        </resource>
        
        <resource path="tasks" id="org.homelinux.digsim.ehealth.tasks.TasksResource">
            <method id="getTasks" name="GET">
                <response>
                    <representation mediaType="application/xml" element="tasks"/>
                    <representation mediaType="application/json" element="tasks"/>
                    <representation mediaType="text/xml" element="tasks"/>
                </response>
            </method>
        </resource>
        <resource path="tasks/{id}" id="org.homelinux.digsim.ehealth.tasks.TaskResource">
            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
            <method id="getTask" name="GET">
                <response>
                    <representation mediaType="application/xml" element="task"/>
                    <representation mediaType="application/json" element="task"/>
                    <representation mediaType="text/xml" element="task"/>
                </response>
            </method>
        </resource>
    </resources>
	
</application>
